[Unit]
Description=Download kubectl

[Target]
ExecStartPre=/usr/bin/mkdir -p /home/core/programs/
ExecStart=/usr/bin/wget                                                                      \
    https://storage.googleapis.com/kubernetes-release/release/v1.0.3/bin/linux/amd64/kubectl \
    -O /home/core/kubectl/                                                                   \
    && chmod +x /home/core/kubectl                                                           \
    && cp /home/core/programs/kubectl /usr/bin/

[Install]
WantedBy=multi-user.target
