[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStart=/usr/bin/kubelet \
    --api-servers=http://192.168.1.13:8080 \
    --allow-privileged=true \
    --config=/etc/kubernetes/manifests \
    --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
